---
layout: default
title: Andrew Phillips
---

<div class="mdl-cell mdl-cell--12-col">
  {% if site.posts %}
  <h3>Posts</h3>
  <table class="mdl-data-table mdl-js-data-table posts-table">
    {% for post in site.posts %}
    <tr href="{{ post.url | prepend: site.baseurl }}" onclick="window.location.href=this.getAttribute('href')">
      <td class="mdl-data-table__cell--non-numeric">{{ post.date | date: "%b %-d, %Y" }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ post.title }}<td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
