<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
  </div>
  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list" style="text-align: right">
      <li><a class="mdl-button mdl-button-js" href="mailto:{{ site.email }}"><i class="material-icons">contact_mail</i> {{ site.email }}</a></li>
      <li><a class="mdl-button mdl-button-js" href="https://keybase.io/theasp"><i class="material-icons">link</i> Keybase</a></li>
      <li><a class="mdl-button mdl-button-js" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
    </ul>
  </div>
</footer>
